body, html {
	margin: 0;
	padding: 0;
	color: #333;
	height: 100%;
}

.Day {
	width: calc(14% - 60px);
	padding: 20px;
	margin-left: 22px;
	margin-top: 22px;
	display: inline-block;
	background-color: lightblue;
	border-radius: 3px;
}

.Chart {

}